h3{color:#0188f8;display: flex;flex-wrap: wrap;justify-content: space-evenly}
h2{color:#ff5d5df8;display: flex;flex-wrap: wrap;justify-content: space-evenly}
a{color: #a6ff5df8;display: flex;flex-wrap: wrap;justify-content: space-evenly}